body{
    background-color:#151515;
    }
    .navbar {
      width: 100%;
      height: 50px;
      background-color: black;
      position: fixed;
      top: 0;
      z-index: 2;
    }
    
    .navbar-container {
      display: flex;
      align-items: center;
      padding: 0 50px;
      height: 100%;
      color: white;
      font-family: "Sen", sans-serif;
    }
    
    .logo-container {
      flex: 1;
  
    }
    
    .logo {
      font-size: 30px;
      color: #e50914;
  
    }
    .logo:hover{
      transform: scale(1.1); 
  
    }
    
    .menu-container {
      flex: 6;
    }
    
    .menu-list {
      display: flex;
      list-style: none;
    }
    .menu-list-item:hover {
      transform: scale(1.2); 
      color: #e50914;
    }
    
    .menu-list-item {
      margin-right: 30px;
    }
    
    .menu-list-item.active {
      font-weight: bold;
    }
    .profile-container {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    
    .profile-text-container {
      margin: 0 20px;
    }
    
    .profile-picture {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
    
    .toggle {
      width: 40px;
      height: 20px;
      background-color: white;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
    }
    
    .toggle-icon {
      color: goldenrod;
    }
    
    .toggle-ball {
      width: 18px;
      height: 18px;
      background-color: black;
      position: absolute;
      right: 1px;
      border-radius: 50%;
      cursor: pointer;
      transition: 1s ease all;
    }
    
    .sidebar {
        width: 50px;
        height: 100%;
        background-color: black;
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        z-index: 1;
      }
      
      .left-menu-icon {
        color: white;
        font-size: 20px;
        margin-bottom: 40px;
      }
      .left-menu-icon:hover {
        transform: scale(1.2); 
        color: #e50914;
    
      }
      
    
    .content-container {
      margin-left: 50px;
      
    }
  
    #rg1{
      margin-top: 200px;
      margin-bottom: 50px;
      }
    
    .featured-content {
      height: 100vh;
      padding: 50px;
    }
    
    .featured-title {
      width: 200px;
      margin-top: 200px;
    }
    
    .featured-desc {
      width: 500px;
      color: lightgray;
      font-size: large;
      font-weight: bold;
    }
    
    .featured-button {
      background-color: #e50914;
      color: white;
      border-radius: 10px;
      border: none;
      outline: none;
      font-weight: bold;
      width: 100px;
    }
    .featured-button:hover{
      color: #000;
      transform: scale(1.2); 
      font-weight: bold;
        transition-duration: 1s;
    }
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        color:  white;
      }
  pre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:  white;
  }
  h2{
    margin: auto;
    color:  rgba(255, 5, 5, 0.877);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h2:hover{
    color: red;
border: solid 1px #000;
transform: scale(1.200); 

  }


  .swiper {
    width: 90%;
    height: 400px;
    margin-top: 150px;  
    margin-bottom: 150px;
  
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 10px;
    display: block;
    justify-content: center;
    align-items: center;  
  }                                                                             
  
  .swiper-slide img {
    display: block;
    width: 105%;
    height: 200px; 
    object-fit: fill;
  }
  img:hover{
    transform: scale(1.020); 
  
  }
  div.desc {
    padding: 2px;
    text-align: left;
  }
 
  span{
    margin-top: -50px;
    position: fixed;
    color: rgba(255, 255, 255, 0.89);
    font-size: xx-large;
    z-index: 1;
  }
  body {font-family: Arial, Helvetica, sans-serif;}

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    color: #000;
    font-size: large;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.856);

    box-sizing: border-box;
  }
  input{
    border-radius: 10px;
  }
  /* Set a style for all buttons */
  button {
    background-color: #e50914;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: large;
    border-radius: 10px;

  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 20%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #000000dc;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #000;
    width: 400px; /* Could be more or less, depending on screen size */
    height: 250px;
    border-radius: 10px;
  }
  
  /* The Close Button (x) */

  .close {
    position: absolute;
    right: 0px;
    top: -30px;
    color: #e50914;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color:  rgba(255, 5, 5, 0.877);
    cursor: pointer;
  }
  
 
  @media screen and (max-width: 500px) {
    .footer2,.product,.services,.Company,.GetHelp,.heading{
      display: inline-block;
      width: 24%;
      
    }
  }
  footer{  
    background-color: #000;
    width: 100%;
    display:flex;  
    flex-direction: column;  
    align-items: center;  
    margin-top: 50px;
    }  
    .footer2{  
      display: flex;  
      width:100%;  
      justify-content:space-evenly;  
      align-items: center;  
      text-decoration: none;  
      flex-wrap: wrap;  
      color: white;
    }  
    .footer0{  
      transition-duration: 1s;  
      color:  rgba(255, 5, 5, 0.877);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }  
    .footer0 h1{
      font-weight:2200;  
      font-size: xx-large;
      color:  rgba(255, 5, 5, 0.877);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .footer0:hover{  
      color:rgb(243, 168, 7);  
      transform: scale(2.05); 

    }  
    .footer2 .heading {  
      font-weight: 800;  
      font-size: 20px;  
      color: ghostwhite;
    }  
    .footer3 {  
      margin-top:60px;  
      margin-bottom: 20px;  
      display:flex;  
      flex-wrap: wrap;  
      justify-content: center;  
    }  
    .footer2 .heading:hover{  
      color:  rgba(255, 5, 5, 0.877);
      transform: scale(1.05); 

    }  
    .footer2 .div:hover{  
    transform: scale(1.05);  
    }  
    .footer2 div{  
      margin:35px; 
      font-size: 17px; 
    }  
  #log{
    color:  rgba(255, 5, 5, 0.877);
    font-size: 25px;
    background-color: #000;
    width: 150px;
    margin-left: 500px;
  }
  @media screen and (max-width: 500px) {
    #log{
      width: 30%;
      margin-left: 35%;
      
    }
  }
  @media only screen and (max-width: 500px) {
    #h {
      margin-left: -60px;
      font-size: 21px;
    }
  }
  .fot{
    margin-top: 20px;
}

#i1{
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.video{
    margin-left: 40px;
    display: inline-block;
}   
#v1{
    margin-left: 10px;
}
.vi{
    display: inline-block;
}